#!/usr/bin/env xdg-open
[Desktop Entry]
Exec=net rpc service start castscreen_srv -I optitrack2 -U pprz%pprz
Icon=
Name=stream_ON_optitrack
StartupNotify=true
Terminal=false
Type=Application
Version=1.0
X-MultipleArgs=false
